body{
    background: #fff;
}
.container{}
.container2 p{
    border-bottom: 2px;
}

.container h1{
    text-align:center;
}

.container h3{
    text-align:center;
}


.datebackground{
    width: auto;
    height: 150px;
    background: #fcfce8;
}

select{
    width:85px;
    height: 35px;
    border-top-left-radius:4px;
    border-bottom-right-radius:4px;
}

